{
  "openapi": "3.0.3",
  "info": {
    "title": "Fructu API",
    "description": "API pour créer un lead",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.fructu.co"
    }
  ],
  "paths": {
    "/v1/lead": {
      "post": {
        "summary": "Create lead",
        "description": "Créer un nouveau lead dans votre Workspace Fructu.",
        "operationId": "createLead",
        "tags": ["Lead"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstname": {
                    "type": "string",
                    "description": "Prénom du Lead",
                    "example": "John"
                  },
                  "lastname": {
                    "type": "string",
                    "description": "Nom du Lead",
                    "example": "Doe"
                  },
                  "email": {
                    "type": "string",
                    "description": "Adresse Email du Lead",
                    "example": "johndoe@example.com"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Numéro de téléphone du Lead",
                    "example": "+33611223344"
                  },
                  "status": {
                    "type": "string",
                    "description": "Statut actuel du Lead (ID)",
                    "example": "1746014351513x596211749688053600"
                  },
                  "note": {
                    "type": "string",
                    "description": "Attachez une note à ce Lead",
                    "example": "Exemple de note."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID du Lead créé"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
   "/v1/status": {
  "get": {
    "summary": "List status",
    "description": "Récupérer la liste des status de votre Workspace.",
    "operationId": "getStatus",
    "tags": ["Status"],
    "security": [
      {
        "bearerAuth": []
      }
    ],
    "responses": {
      "200": {
        "description": "Success",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string",
                    "description": "Label du status"
                  },
                  "id": {
                    "type": "string",
                    "description": "ID unique du status"
                  }
                },
                "required": ["id", "label"]
              }
            }
          }
        }
      },
      "400": {
        "description": "Bad Request"
      },
      "401": {
        "description": "Unauthorized"
      }
    }
  }
},
  "tags": [
    {
      "name": "Lead",
      "description": "Endpoints pour gérer les leads"
    },
        {
      "name": "Status",
      "description": "Endpoints pour gérer les status"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "x-tagGroups": [
    {
      "name": "CRM",
      "tags": ["Lead"]
    }
  ]
}