{
  "openapi": "3.0.3",
  "info": {
    "title": "Fructu API",
    "description": "API pour créer un lead",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.fructu.co"
    }
  ],
  "paths": {
    "/v1/lead": {
      "post": {
        "summary": "Create lead",
        "description": "Créer un nouveau lead dans votre Workspace Fructu.",
        "operationId": "createLead",
        "tags": ["Lead"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstname": {
                    "type": "string",
                    "description": "Prénom du Lead",
                    "example": "John"
                  },
                  "lastname": {
                    "type": "string",
                    "description": "Nom du Lead",
                    "example": "Doe"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Adresse Email du Lead",
                    "example": "johndoe@example.com"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Numéro de téléphone du Lead",
                    "example": "+33611223344"
                  },
                  "status": {
                    "type": "string",
                    "description": "Statut actuel du Lead (ID)",
                    "example": "1746014351513x596211749688053600"
                  },
                  "lists": {
                    "type": "string",
                    "description": "Ajouter le lead dans une ou plusieurs listes (ID)",
                    "example": ["1746014351513x596211749945813904","1746014351513x3219381149688053629"]
                  },
                  "user": {
                    "type": "string",
                    "description": "Attribuer le lead à un utilisateur (ID)",
                    "example": "1746014351513x595821749688053394"
                  },
                  "note": {
                    "type": "string",
                    "description": "Attachez une note à ce Lead",
                    "example": "Exemple de note."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID du Lead créé"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/status": {
      "get": {
        "summary": "List status",
        "description": "Récupérer la liste des statuts de votre Workspace.",
        "operationId": "getStatus",
        "tags": ["Status"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success. La réponse contient un objet avec une propriété `data` (liste des statuts).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "description": "Label du statut"
                          },
                          "id": {
                            "type": "string",
                            "description": "ID unique du statut"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "label": "À contacter",
                      "id": "1742285896869x689052030883594200"
                    },
                    {
                      "label": "En attente",
                      "id": "1742285896869x689052030883594201"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/list": {
      "get": {
        "summary": "List lists",
        "description": "Récupérer la liste des listes de votre Workspace.",
        "operationId": "getLists",
        "tags": ["Lists"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success. La réponse contient un objet avec une propriété `data`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "description": "Label de la liste"
                          },
                          "id": {
                            "type": "string",
                            "description": "ID unique de la liste"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "label": "Clients",
                      "id": "1742285896869x689052030883594200"
                    },
                    {
                      "label": "Prospects",
                      "id": "1742285896869x689052030883594201"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v1/user": {
      "get": {
        "summary": "List users",
        "description": "Récupérer la liste des membres de votre Workspace.",
        "operationId": "getUsers",
        "tags": ["Lists"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success. La réponse contient un objet avec une propriété `data`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "description": "Nom de l'utilisateur"
                          },
                          "id": {
                            "type": "string",
                            "description": "ID unique de l'utilisateur"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "label": "Tom Vigneres",
                      "id": "1742285896869x689052030883594200"
                    },
                    {
                      "label": "John Doe",
                      "id": "1742285896869x689052030883594201"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Lead",
      "description": "Endpoints pour gérer les leads"
    },
    {
      "name": "Status",
      "description": "Endpoints pour gérer les statuts"
    },
    {
      "name": "List",
      "description": "Endpoints pour gérer les listes"
    },
    {
      "name": "User",
      "description": "Endpoints pour gérer les membres du Workspace"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}