{
  "openapi": "3.0.3",
  "info": {
    "title": "Fructu API",
    "description": "API pour créer un lead",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.fructu.co"
    }
  ],
  "paths": {
    "/v1/lead": {
      "post": {
        "summary": "Créer un lead",
        "description": "Créer un nouveau lead dans votre Workspace Fructu.",
        "operationId": "createLead",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstname": {
                    "type": "string",
                    "description": "Prénom du Lead",
                    "example": "John"
                  },
                  "lastname": {
                    "type": "string",
                    "description": "Nom du Lead",
                    "example": "Doe"
                  },
                  "email": {
                    "type": "string",
                    "description": "Adresse Email du Lead",
                    "example": "johndoe@example.com"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Numéro de téléphone du Lead",
                    "example": "+33611223344"
                  },
                  "status": {
                    "type": "string",
                    "description": "Statut actuel du Lead",
                    "example": "À contacter"
                  },
                  "note": {
                    "type": "string",
                    "description": "Attachez une note à ce Lead",
                    "example": "Exemple de note."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead créé avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requête invalide – paramètres malformés"
          },
          "401": {
            "description": "Non autorisé – clé API manquante ou invalide"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
